body {
    font-family: "Ubuntu", sans-serif;;
    background-color: #ffffff;
    margin: 0;
}
.hero-section {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  overflow: hidden;
  height: 580px;
  border-bottom-left-radius: 100px;
  margin-bottom: 80px;
}
.hero-background {
    background-image: url(./Utils/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: auto;
    height: 580px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 70px;
}
.nav-container {
  height: 40px;
  display: flex;
  gap: 40px;

}
.navbar {
  display: flex;
  justify-content: space-around;
  gap: 35px;
  list-style-type: none;
}
.navbar__a {
  color: #ffffff;
  font-size: 16px;
}
.nav__buttons {
  display: flex;
  height: 40px;
  gap: 40px;
}
.nav__button1 {
  color: #ffffff;
  font-size: 16px;
  background-color: transparent;
  border-radius: 45px;
  padding: 6px 30px;
  border: none;
}
.nav__button1:hover {
  background-color: #ffffff;
  color: hsl(355, 100%, 74%);
  font-weight: bold;
}
.nav__button2 {
  color: hsl(355, 100%, 74%);
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 45px;
  padding: 6px 30px;
  border: none;
}
.nav__button2:hover {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}
.h1__container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.title_h1 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  margin-bottom: 5px;
}
.p__h1 {
  font-size: 17px;
}
.button1__h1 {
  padding: 10px 20px;
}
/* /// MAIN \\\ */
.section1 {
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.divdiv_articles {
  display: flex;
  flex-direction: column;
}
.div_title_section1 {
  color: hsl(208, 49%, 24%);
  font-size: 20px;
  font-weight: 100;
  height: 50px;
}
.first__title {
  margin-bottom: 10px;
}
.span__section1 {
  color: hsl(208, 49%, 24%);
  font-size: 14px;
}
.h3_section1 {
  color: hsl(208, 49%, 24%);
  font-size: 18px;
}
.div__section1 {
  display: flex;
  align-items: center;
  padding-left: 350px;
  height: 600px;
}
.div__image {
  width: 100%;
  height: fit-content;
  position: relative;
  left: 20%;
  align-self: center;
}
.section2 {
  background-image: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 31%));
  height: 350px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}